




{{#each reviews }}

    <div class="reviewContentContainer">
            <div class="reviewPicContainer">
                <img src="./assets/images/review-pic/peppy-review.jpg">
                
            </div>
            <div class="reviewTextContainer">
                <h2>{{this.firstName}}</h2>
                <h3 class="reviewTitle">{{this.rating}}/5 Stars • {{this.title}}</h3>
                <p class="reviewTime">Posted on: {{toLocale this.postedOn}}  Edited on: {{toLocale this.editedOn}}</p>

                <p class="reviewProper">
                    {{this.description}}
                </p>

                <p>Review ID: {{this._id}}</p>

                {{#if this.ownerReply}}

                    <div class="ownerReplyContainer">
                        <p>Cafe Owner Reply: {{this.ownerReply}}</p>
                    </div>
                
                {{/if}}

                {{#unless this.currUserId }}
                    <div class="voteButtonContainer">
                        <h3>️‍🔥 {{this.upvotes}}</h3>
                    </div>

                {{/unless }}

                {{#if this.currUserId }}
                    <div class="voteButtonContainer">
                        <h3>️‍🔥 {{this.upvotes}}</h3> 
                        <button>Updoot</button>
                    </div>
                {{/if}}

                


                {{log 'this' this}}

                
                {{#ifEquals this.currUserId this.cafeOwner }}
                    <div id="ownerReply">
                        <form action="/cafe/reply-review/{{this._id}}" method="post">
                            <label>Reply: </label>
                            <input type="text" name="replyBody" />

                            <input type="submit" value="Send Reply">
                        </form>
                    </div>
                {{/ifEquals}}
                
             
                


            </div>
    </div>

    <br>

{{/each}}


<script>




</script>