
<p>{{userData.isOwner}}</p>



{{#each reviews }}

    <div class="reviewContentContainer">
            <div class="reviewPicContainer">
                <img src="./assets/images/review-pic/peppy-review.jpg">
                
            </div>
            <div class="reviewTextContainer">
                <h2>{{this.firstName}}</h2>
                <p>Posted on: {{toLocale this.postedOn}}  Edited on: {{toLocale this.editedOn}}</p>
                <p>{{this.title}}</p>
                <p class="reviewRating">{{this.rating}} Stars!</p>

                <p class="reviewProper">
                    {{this.description}}
                </p>

                <div class="voteButtonContainer">
                    <h3>️‍🔥 {{this.upvotes}}</h3> <button>Updoot</button>
                </div>

                {{#if this.ownerReply}}

                    <div class="ownerReplyContainer">
                        <p>{{this.ownerReply}}</p>
                    </div>
                
                {{/if}}


                {{log 'this' this}}

                
                {{#ifEquals this.currUserId this.cafeOwner }}
                    <div id="ownerReply">
                        <form action="" method="post">
                            <label>Reply: </label>
                            <input type="text" name="ownerReply" />

                            <input type="submit" value="Send Reply">
                        </form>
                    </div>
                {{/ifEquals}}
                
             
                


            </div>
    </div>

    <br>

{{/each}}


<script>

    
    
</script>