




{{#each reviews }}

    <div class="reviewContentContainer">
            <div class="reviewPicContainer">
                <img src="./assets/images/review-pic/peppy-review.jpg">
                
            </div>
            <div class="reviewTextContainer">
                <h2>{{this.firstName}}</h2>
                <p>Posted on: {{toLocale this.postedOn}}  Edited on: {{toLocale this.editedOn}}</p>
                <p>{{this.title}}</p>
                <p class="reviewRating">{{this.rating}} Stars!</p>

                <p class="reviewProper">
                    {{this.description}}
                </p>

                <h3>This is the _id of this review: {{this._id}}</h3>

                {{#unless this.currUserId }}
                    <div class="voteButtonContainer">
                        <h3>️‍🔥 {{this.upvotes}}</h3>
                    </div>

                {{/unless }}

                {{#if this.currUserId }}
                    <div class="voteButtonContainer">
                        <h3>️‍🔥 {{this.upvotes}}</h3> 
                        <button>Updoot</button>
                    </div>

                {{/if}}

                {{#ifEquals this.postedBy this.currUserId}}
                    <div class="deleteButtonContainer">
                        <form action="/cafe/delete-review/{{this._id}}" method="post">
                            <input type="submit" value="Delete me" />
                        </form>

                    </div>
                {{/ifEquals}}

                {{#if this.ownerReply}}

                    <div class="ownerReplyContainer">
                        <p>{{this.ownerReply}}</p>
                    </div>
                
                {{/if}}


                {{log 'this' this}}

                
                {{#ifEquals this.currUserId this.cafeOwner }}
                    <div id="ownerReply">
                        <form action="/cafe/reply-review/{{this._id}}" method="post">
                            <label>Reply: </label>
                            <input type="text" name="replyBody" />

                            <input type="submit" value="Send Reply">
                        </form>
                    </div>
                {{/ifEquals}}
                
             
                


            </div>
    </div>

    <br>

{{/each}}


<script>

    
    
</script>