
<head>

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="styles/user.css">

</head>


    <!-- Main container -->
    <div class="cont">

        <!-- stuff on the left -->
        <div class="left-cont">

            <!-- basic info about user -->
            <div class="user-info">
                <img src='{{userData.picturePath}}' alt="user_pfp" />
                <h2>{{userData.firstName}}  {{userData.lastName}}</h2>
                <h3>Email: {{userData.email}}</h3>
                <hr>
                <p>193 reviews</p>
                <p>41 ratings</p>

                <!-- has all the interaction stuff to the user -->
                <div class="interact-cont">
                    <button>✉ Message</button>
                    <button>❤︎ Follow</button>
                </div>
            </div>
        </div>

        {{!-- <!-- stuff on the right -->
        <div class="right-cont">
            <h2>Stats</h2>
            <br>
            <div class="stats">
                <div class="stat-num">
                    <h3>41</h3>
                    <p>Updoots</p>
                </div>
                <div class="stat-num">
                    <h3>1,540</h3>
                    <p>Photos</p>
                </div>
                <div class="stat-num">
                    <h3>57</h3>
                    <p>Videos</p>
                </div>
                <div class="last-stat-num">
                    <h3>11</h3>
                    <p>Edits</p>
                </div>
            </div>
        </div> --}}

        <!-- review stuff at the bottom -->
        {{#unless userData.isOwner }}
            <div class="review-cont">
                <br>
                <h1 class="h1Review">{{userData.firstName}}'s Reviews</h1>
                <br>


                {{#each reviews }}
                    <div class="reviewContentContainer">

                        <div class="reviewPicContainer">
                            <img src="./images/review/cafe_maxims_review-400w.png">
                            
                        </div>

                        <div class="reviewTextContainer">
                            <h3 class="reviewTitle">{{this.rating}}/5 Stars • {{this.title}}</h3>
                            <p class="reviewTime">Posted on: {{toLocale this.postedOn}}  Edited on: {{toLocale this.editedOn}}</p>

                            <p class="reviewProper">
                                {{this.description}}
                            </p>

                            <p>Review ID: {{this._id}}</p>

                            <div class="voteButtonContainer">
                                <h3>️‍🔥 {{this.upvotes}}</h3>
                            </div>

                        </div>

                    </div>
                    <br>
                {{/each}}


            </div>
        {{/unless}}


        {{#if userData.isOwner }}
            <div class="myCafeContainer">
                <h2 class="ownerInputTitle">Input your cafe here</h2>
                <form action="/profile/postcafe" method="post">
                    <div class="cafeName"><label>Cafe Name:  </label><input class="cafeInput" type="text" name="name"/></div> <br>
                    <div class="cafeDesc"><label>Cafe Description: </label><br><textarea class="cafeInput" rows="4" cols="50" name="description"></textarea></div>
                    <br>
                    <input class="submitButton" type="submit" value="Submit"/>
                </form>
            </div>
        {{/if}}

        

    </div>



